name: بناء iOS

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - run: |
          pip install flet==0.22.1
          pip install openpyxl==3.1.2
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.0'
      
      - run: |
          flet build ipa --project "StudentApp" --org "com.school"
      
      - uses: actions/upload-artifact@v3
        with:
          name: StudentApp-iOS
          path: build/ios/ipa/*.ipa
